@tailwind base;
@tailwind components;
@tailwind utilities;
    
    @font-face {
        font-family: 'bebas-neue';
        src: url("fonts/bebasneue-regular-webfont.woff2") format('woff2'),
            url('fonts/bebasneue-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'source-sans-pro';
        src: url('fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
            url('fonts/sourcesanspro-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'source-sans-pro';
        src: url('fonts/sourcesanspro-semibold-webfont.woff2') format('woff2'),
            url('fonts/sourcesanspro-semibold-webfont.woff') format('woff');
        font-weight: 600;
        font-style: normal;
    }

    @font-face {
        font-family: 'futura';
        src: url('fonts/futura_bold_font-webfont.woff2') format('woff2'),
            url('fonts/futura_bold_font-webfont.woff') format('woff');
        font-weight: 700;
        font-style: normal;
    }

    @font-face {
        font-family: 'futura-condensed';
        src: url('fonts/futura_medium_condensed_bt-webfont.woff2') format('woff2'),
            url('fonts/futura_medium_condensed_bt-webfont.woff') format('woff');
        font-weight: 500;
        font-style: normal;
    }

    @font-face {
        font-family: 'futura';
        src: url('fonts/futura_medium_bt-webfont.woff2') format('woff2'),
            url('fonts/futura_medium_bt-webfont.woff') format('woff');
        font-weight: 500;
        font-style: normal;
    }

@layer base {
    html {
        @apply 5xl:text-[18px];
    }

    h1 {
        @apply uppercase font-futuraCondensed font-medium text-[2rem] leading-[100%] xs:text-4xl;
    }

    h3 {
        @apply uppercase font-futuraCondensed font-medium text-4xl leading-[100%];
    }

    p {
        @apply font-sourceSansPro font-normal text-base leading-[160%] xl:text-[.925rem] 4xl:text-base 4xl:leading-[160%] 5xl:text-[1.125rem];
    }
}

@layer utilities {
    .px-screen {
        @apply px-[10%] md:px-12 lg:px-[4.5rem] xl:px-20 4xl:px-0;
    }

    .w-content {
        width: max-content;
    }

    .bg-gradient-blue-grey {
        background: linear-gradient(to bottom, #1E2944 50%, #CAD2D4 50%);
    }

    .h-content {
        height: max-content;
    }
}

@layer components {
    a.button, input.button {
        @apply inline-flex items-center justify-center min-h-[44px] min-w-[36ch] w-full py-4 px-3 text-white uppercase font-futura font-bold leading-[100%] tracking-[.075em] text-center md:w-auto;
    }

    .nav-link::before {
        transition: 300ms;
        height: 5px;
        content: "";
        position: absolute;
        background-color: #6AA2B9;
    }

    .nav-link-grow-up::before {
        height: 0%;
        width: 100%;
        bottom: 0px;
    }
      
    .nav-link-grow-up:hover::before {
        height: 5px;
    }

    .nav-link-active::before {
        height: 5px;
        content: "";
        position: absolute;
        background-color: #6AA2B9;
    }

    .bg-testimonials {
        background-image: url(images/home_testimonials-bg2_1920w_1x.webp);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    .bg-hero-who-we-are {
        background-image: url(images/who-we-are_hero_480w_1x.webp);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    .bg-hero-case-study-gallery {
        background-image: url(images/case-study-gallery_hero_2560w_1x.webp);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    .bg-good-people {
        background-image: url(images/who-we-are_good-people_1920w_1x.webp);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-blend-mode: multiply;
    }
}

.timeline-container {
    display: grid;
    gap: 3rem;
    grid-auto-flow: column;
    grid-auto-columns: 22.5rem;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 10%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.timeline-container::-webkit-scrollbar {
    display: none;
  }

.timeline-container > * {
    scroll-snap-align: start;
}

.bg-before-dark-blue {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1E2944;
    mix-blend-mode: multiply;
}

.bg-before-blue {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #6AA2B9;
    mix-blend-mode: multiply;
}

#menuToggle
{
  display: block;
  position: fixed;
  top: 50px;
  left: calc(100vw - 3rem);
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #fafafa;
  transition: color 0.3s ease;
}

#menuToggle a li
{
  font: 500 2rem/100% "futura", sans-serif;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #fafafa;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #fafafa;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin-left: 3rem;
  padding: 32px;
  padding-top: 125px;
  
  background: #1E2944;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% -77px;
  transform: translate(100%, -77px);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: translate(-100%, -77px);
}

@media only screen and (min-width: 768px) { 

    .timeline-container {
        scroll-padding-inline: 3rem;
        grid-auto-columns: 28.5rem;
    }

    .bg-hero-who-we-are {
        background-image: url(images/who-we-are_hero_1024w_1x.webp);
    }

    #menuToggle a li {
        font-size: 4rem;
    }

}

button:hover > svg > path {
    fill: #6AA2B9;
}

@media only screen and (min-width: 1024px) { 

    .timeline-container {
        scroll-padding-inline: 4.5rem;
        grid-auto-columns: 32.5rem;
    }

    #menu {
        padding-left: 4rem;
    }

    #menuToggle a li {
        font-size: 6rem;
    }

}

@media only screen and (min-width: 1025px) { 

    .mobile-nav {
        display: none;
    }

}

@media only screen and (min-width: 1280px) { 

    .timeline-container {
        scroll-padding-inline: 5rem;
        grid-auto-columns: 30.5rem;
    }

    .bg-hero-who-we-are {
        background-image: url(images/who-we-are_hero_1366w_1x.webp);
    }

}

@media only screen and (min-width: 1920px) { 

    .timeline-container {
        scroll-padding-inline: 0;
        grid-auto-columns: 32.5rem;
    }

    .bg-hero-who-we-are {
        background-image: url(images/who-we-are_hero_1920w_1x.webp);
    }

}

@media only screen and (min-width: 2000px) { 

    .bg-hero-who-we-are {
        background-image: url(images/who-we-are_hero_2560w_1x.webp);
    }

    .bg-hero-case-study-gallery {
        background-image: url(images/case-study-gallery_hero_2560w_1x.webp);
    }

}