@tailwind base;
@tailwind components;
@tailwind utilities;
    
    @font-face {
        font-family: 'bebas-neue';
        src: url("fonts/bebasneue-regular-webfont.woff2") format('woff2'),
            url('fonts/bebasneue-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'source-sans-pro';
        src: url('fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
            url('fonts/sourcesanspro-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'source-sans-pro';
        src: url('fonts/sourcesanspro-semibold-webfont.woff2') format('woff2'),
            url('fonts/sourcesanspro-semibold-webfont.woff') format('woff');
        font-weight: 600;
        font-style: normal;
    }

    @font-face {
        font-family: 'futura';
        src: url('fonts/futura_bold_font-webfont.woff2') format('woff2'),
            url('fonts/futura_bold_font-webfont.woff') format('woff');
        font-weight: 700;
        font-style: normal;
    }

    @font-face {
        font-family: 'futura-condensed';
        src: url('fonts/futura_medium_condensed_bt-webfont.woff2') format('woff2'),
            url('fonts/futura_medium_condensed_bt-webfont.woff') format('woff');
        font-weight: 500;
        font-style: normal;
    }

    @font-face {
        font-family: 'futura';
        src: url('fonts/futura_medium_bt-webfont.woff2') format('woff2'),
            url('fonts/futura_medium_bt-webfont.woff') format('woff');
        font-weight: 500;
        font-style: normal;
    }

@layer base {
    html {
        @apply 5xl:text-[18px];
    }

    h1 {
        @apply uppercase font-futuraCondensed font-medium text-[2rem] leading-[100%] xs:text-4xl;
    }

    h3 {
        @apply uppercase font-futuraCondensed font-medium text-4xl leading-[100%];
    }

    p {
        @apply font-sourceSansPro font-normal text-base leading-[160%] xl:text-[.925rem] 4xl:text-base 4xl:leading-[160%] 5xl:text-[1.125rem];
    }
}

@layer utilities {
    .px-screen {
        @apply px-[10%] md:px-12 lg:px-[4.5rem] xl:px-20 4xl:px-0;
    }

    .w-content {
        width: max-content;
    }
}

@layer components {
    a.button {
        @apply inline-flex items-center justify-center min-h-[44px] min-w-[36ch] w-full py-4 px-3 text-white uppercase font-futura font-bold leading-[100%] tracking-[.075em] text-center md:w-auto;
    }

    .nav-link::before {
        transition: 300ms;
        height: 5px;
        content: "";
        position: absolute;
        background-color: #6AA2B9;
    }

    .nav-link-grow-up::before {
        height: 0%;
        width: 100%;
        bottom: 0px;
    }
      
      .nav-link-grow-up:hover::before {
        height: 5px;
    }

    .bg-testimonials {
        background-image: url(images/home_testimonials-bg2_1920w_1x.webp);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    .bg-hero-who-we-are {
        background-image: url(images/who-we-are_hero_480w_1x.webp);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    .bg-good-people {
        background-image: url(images/who-we-are_good-people_1920w_1x.webp);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-blend-mode: multiply;
    }
}

.timeline-container {
    display: grid;
    gap: 3rem;
    grid-auto-flow: column;
    grid-auto-columns: 22.5rem;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 10%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.timeline-container::-webkit-scrollbar {
    display: none;
  }

.timeline-container > * {
    scroll-snap-align: start;
}

@media only screen and (min-width: 768px) { 

    .timeline-container {
        scroll-padding-inline: 3rem;
        grid-auto-columns: 28.5rem;
    }

    .bg-hero-who-we-are {
        background-image: url(images/who-we-are_hero_1024w_1x.webp);
    }

}

@media only screen and (min-width: 1024px) { 

    .timeline-container {
        scroll-padding-inline: 4.5rem;
        grid-auto-columns: 32.5rem;
    }

}

@media only screen and (min-width: 1280px) { 

    .timeline-container {
        scroll-padding-inline: 5rem;
        grid-auto-columns: 30.5rem;
    }

    .bg-hero-who-we-are {
        background-image: url(images/who-we-are_hero_1366w_1x.webp);
    }

}

@media only screen and (min-width: 1920px) { 

    .timeline-container {
        scroll-padding-inline: 0;
        grid-auto-columns: 32.5rem;
    }

    .bg-hero-who-we-are {
        background-image: url(images/who-we-are_hero_1920w_1x.webp);
    }

}

@media only screen and (min-width: 2000px) { 

    .bg-hero-who-we-are {
        background-image: url(images/who-we-are_hero_2560w_1x.webp);
    }

}